<!DOCTYPE html>
<html lang="en">

<head>

    <% include ../partials/head.ejs %>
	<script src="/javascripts/updatePass.js"></script>
    <title>FTC Employees | Weekly Log</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <% include ../partials/nav.ejs %>
<div class="container updatePassForm" id="outermost" style="max-width: 500px;">
    <h2>Update Your Password, <%= user.Username %></h2>
	New Password: <input type="text" id="newPass">
	<br/><br/>
	<button onclick="updatePass('<%= user.Username %>')">Reset</button>
</div>
</body>

</html>